*{
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;

}
.navigation-bar{
	position: fixed;
	top: 0px;
	left: 0px;
	width: 100%;
	z-index: 5px;
	height: 90px;
	background-image: linear-gradient(to right,#b4dade,#8ad7de);	
}
.mymenus{
	font-weight: bolder;
	color: white;
	font-size: 22px;
	padding: 5px;

}
.mymenus:hover{
	text-decoration: underline 2px solid royalblue;
	color: royalblue;
}
.allsections{
	position: relative;
	top:80px;
	width: 100%;
}
.section{
	width: 100%;
	height: 70vh;
	border: 5px solid black;
}
.section h1{
	text-align: center;
	margin-top: 250px;
	color: royalblue;
	font-family: Arial Black;
    font-size: 40px;

}
html{
	scroll-behavior:smooth;
}
.logo{
	font-family:Bell MT;
	font-size: 35px;
	color:royalblue;
	font-weight: bold;

}
.home-section{
	border: none;
	width: 100%;
	background-image: url("https://res.cloudinary.com/practicaldev/image/fetch/s--O0u1bNHs--/c_limit%2Cf_auto%2Cfl_progressive%2Cq_66%2Cw_880/https://miro.medium.com/max/1400/0%2APXf5ge7QCN9Ga_CL.gif");
	background-size: 40%;
	background-repeat: no-repeat;
    background-position: 90% 2%;

}
.myinfo{
	height: 450px;
	width: 50%;
	margin: 10% 10%;
}
.info-home{
	font-size: 30px;
	font-family: Elephant;

}
.myname{
	font-size: 50px;
    
}
.rsm{
	height: 60px;
	width: 120px;
	margin: 20px 30px;
	border: none;
	background-color: royalblue;
	color: white;
	border-radius: 10px;
	font-family: Arial Black;
}
.rsm:hover{
	background-color: white;
	color: royalblue;
	border: 3px solid royalblue;
	transform: scale(0.9);
	
}
.fsjd{
	font-family: Elephant;
	font-size: 30px;
	color: peru;
}
.about-section{
	background-color: white;
	border: none;
	width: 100%;
	height: 500px;
	display: flex;
	position: 20px;
}
.aboutsect{
	height: 500px;

}
.myimg{
	width: 40%;
	margin-left: 20px;

}
.cobj{
	padding: 30px 60px;
	font-size: 20px;
}
.carrer{
	text-indent: 20%;
	text-align: justify;
	font-size: 20px;
	margin-top: 10px;
	font-family: sans-serif;
	font-weight: bolder;
	line-height: 40px;
}

.skills-section{
	
	background-color: white;
	border: none;
	width: 100%;
	height: 90vh;
	
}.tr1{
	width: 50%;
	height: 40vh;
}
.tr2{
width: 50%;
	height: 40vh;	
}
h2{
font-size: 28px;
margin-left: 230px;
font-weight: bolder;
color:coral;
font-variant: small-caps;
text-decoration: underline 2px solid coral;
}
.parg1{
	font-size: 20px;
	font-weight: bolder;
	margin-left: 230px;
	padding-top: 25px;
}
.td1{
	font-size: 20px;
}
.td1:hover{
	box-shadow: 0px 0px 10px grey;
	background-color: ghostwhite;
}
.project-section{
	border: none;
	padding: 20px;
	width: 100%;
	height: 1150px;
}
.all-projects{
	margin-top: 40px;
}
.card-title{
	color: coral;
	font-weight: bolder;
	margin-left: 135px;
	font-size: 28px;
}

.card-img-top{
	height: 250px;
	width: 250px;
	margin-left: 115px;
	margin-top: 15px;
}
.card-text{
	font-size: 15px;
	font-family: sans-serif;
	text-align: justify;
	text-indent: 15%;font-weight: bold;
}
.contact-section{
	border: none;
	width: 100%;
	height: 65vh;
}
.contact12{
	margin-right: 200px;
}